*.tar.gz
*.pb.gz
*.log
*.out
*.exe
*.DS_Store 
.vscode/
**/_dump
**/_data
**/_test
**/var
app/eventor/eventor
app/center/center
app/agent/agent
app/transfer/transfer
app/eventor/alarms.data
**/performance.json
**/config.json
app/alarm/alarm
app/alarm/monitor-alarm
app/center/monitor-center
app/eventor/monitor-eventor
app/query/query
app/store/store
app/web/web
app/agent/monitor-agent
queuetest/
app/query/monitor-query
app/agent/mallard2-agent
other/
app/alarm/bin/mallard2-alarm
app/agent/bin/mallard2-agent
app/eventor/bin/mallard2-eventor
app/store/bin/mallard2-store
app/center/bin/mallard2-center
app/transfer/bin/mallard2-transfer
app/judge/bin/mallard2-judge
app/judge/judge
app/judge/data
app/judge/mallard2-judge
