*.tar.gz
*.pb.gz
*.log
*.out
*.exe
*.DS_Store 
.vscode/
**/_dump
**/_data
**/_test
**/var
**/performance.json
**/config.json

apps/agent/agent
apps/center/center
apps/transfer/transfer
apps/eventor/eventor
apps/alarm/alarm
