language: go

git:
  depth: 1

go:
  - "1.9.x"
  - "1.10.x"
  - "1.11.x"
  - tip

env:
  - GO111MODULE=on

matrix:
  include:
  - go: "1.9.x"
    script: ./go_1.9_test.sh
  - go: "1.10.x"
    script: go test ./... -coverprofile=coverage.txt
  - go: "1.11.x"
    script: go test -mod=vendor ./... -coverprofile=coverage.txt

install: true

after_success:
  - bash <(curl -s https://codecov.io/bash)